<div class="swiper-container">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide">
        {% if block.settings.quote != blank %}
          <div class="testimonial-description">{{ block.settings.quote }}</div>
        {% endif %}
        {% if block.settings.author != blank %}
          <div class="testimonial-author">{{ block.settings.author | escape }}</div>
        {% endif %}
        {% if block.settings.upload_image != blank %}
          <div class="testimonial-image">
            <img src="{{ block.settings.upload_image | img_url: '200x200', scale: 2 }}" alt="">
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>

<script src="{{ 'swiper.min.js' | asset_url }}"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>

{% stylesheet %}
  .testimonial-box {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .testimonial-description {
    flex-basis: 70%;
    margin-right: 20px;
  }
  .testimonial-author {
    flex-basis: 100%;
    margin-top: 20px;
    font-weight: bold;
  }
  .testimonial-image {
    flex-basis: 90%;
    text-align: right;
  }
  .testimonial-image img {
    width:10%;
    height: 100;

    border-radius: 50%;
  }

  .swiper-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .swiper-slide {
    text-align: center;
    padding: 50px 0;
    font-size: 18px;
    background: #fff;
  }

  .swiper-pagination {
    position: relative;
    bottom: 10px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
    background: #000;
    margin: 0 5px;
    opacity: 0.5;
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
{% endstylesheet %}
In this code, we have replaced the quotes-slider and quotes-slide classes with the swiper-container, swiper-wrapper, and
swiper-slide classes, respectively. We have

{% schema %}
{
"name": "Testimonials",
"class": "index-section",
"max_blocks": 9,
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Testimonials"
}
],
"blocks": [
{
"type": "quote",
"name": "Testimonial",
"settings": [
{
"type": "richtext",
"id": "quote",
"label": "Text",
"default": "<p>Add customer reviews and testimonials to showcase your store’s happy Customers.</p>"
},
{
"type": "text",
"id": "author",
"label": "Author",
"default": "Author's name"
},
     {
          "type":"image_picker",

          "id":"upload_image",
          "label":"upload a image",

          "info":"image size will be 200x200px "
        }
]
}
],

"presets": [
{
"name": "Testimonials",
"category": "Text",
"blocks": [
{
"type": "quote"
},
{
"type": "quote"
},
{
"type": "quote"
},
  {
  "type": "quote"
  }
]
}
]
}
{% endschema %}
